<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="DNSCryptProviders" type="dnscrypt_winclient.ProvidersConfigurationSection, dnscrypt-winclient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
 </configSections>
	
	<startup>
		<supportedRuntime version="v4.0"/>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
	
	<DNSCryptProviders>
		<providers>
		</providers>
	</DNSCryptProviders>
</configuration>
