<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="DNSCryptProviders" type="dnscrypt_winclient.ProvidersConfigurationSection, dnscrypt-winclient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="dnscrypt_winclient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
	
	<DNSCryptProviders>
		<providers>
			<add name="OpenDNS" server="208.67.220.220" ipv6="2620:0:ccd::2" parental="208.67.220.123" ports="443,5353,53" protos="udp,tcp" fqdn="2.dnscrypt-cert.opendns.com" key="B735:1140:206F:225D:3E2B:D822:D7FD:691E:A1C3:3CC8:D666:8D0C:BE04:BFAB:CA43:FB79" />
			<add name="CloudNS 1 AU" server="113.20.6.2" ipv6="" parental="" ports="443" protos="udp,tcp" fqdn="2.dnscrypt-cert.cloudns.com.au" key="1971:7C1A:C550:6C09:F09B:ACB1:1AF7:C349:6425:2676:247F:B738:1C5A:243A:C1CC:89F4" />
			<add name="CloudNS 2 AU" server="113.20.8.17" ipv6="" parental="" ports="443" protos="udp,tcp" fqdn="2.dnscrypt-cert-2.cloudns.com.au" key="67A4:323E:581F:79B9:BC54:825F:54FE:1025:8B4F:37EB:0D07:0BCE:4010:6195:D94F:E330" />
			<add name="OpenNIC JP" server="106.186.17.181" ipv6="" parental="" ports="2053" protos="udp,tcp" fqdn="2.dnscrypt-cert.ns2.jp.dns.opennic.glue" key="8768:C3DB:F70A:FBC6:3B64:8630:8167:2FD4:EE6F:E175:ECFD:46C9:22FC:7674:A1AC:2E2A" />
			<add name="OpenNIC UK 1" server="185.19.104.45" ipv6="" parental="" ports="443" protos="udp,tcp" fqdn="2.dnscrypt-cert.ns8.uk.dns.opennic.glue" key="A17C:06FC:BA21:F2AC:F4CD:9374:016A:684F:4F56:564A:EB30:A422:3D9D:1580:A461:B6A6" />
			<add name="OpenNIC UK 2" server="185.19.105.6" ipv6="2a04:1400:1337:2000::6" parental="" ports="443" protos="udp,tcp" fqdn="2.dnscrypt-cert.ns9.uk.dns.opennic.glue" key="E864:80D9:DFBD:9DB4:58EA:8063:292F:EC41:9126:8394:BC44:FAB8:4B6E:B104:8C3B:E0B4" />
			<add name="OpenNIC UK 3" server="185.19.105.14" ipv6="2a04:1400:1337:2000::14" parental="" ports="443" protos="udp,tcp" fqdn="2.dnscrypt-cert.ns10.uk.dns.opennic.glue" key="B1AB:7025:1119:9AEE:E42E:1B12:F2EF:12D4:53D9:CD92:E07B:9AF4:4794:F6EB:E5A4:F725" />
			<add name="OpenNIC US 1" server="173.230.156.28" ipv6="" parental="" ports="443" protos="udp,tcp" fqdn="2.dnscrypt-cert.ns17.ca.us.dns.opennic.glue" key="2342:215C:409A:85A5:FB63:2A3B:42CD:5089:6BA8:551A:8BDC:2654:CF57:804F:B1B2:5019" />
			<add name="OpenNIC US 2" server="" ipv6="2600:3c01::f03c:91ff:fe6e:1f6b" parental="" ports="443" protos="udp,tcp" fqdn="2.dnscrypt-cert.ns18.ca.us.dns.opennic.glue" key="689B:DAF2:6A9F:DB2D:42B4:AA15:1825:89E8:6FAE:0C2C:522A:D0AA:DD2B:80B4:8D61:0A43" />
			<add name="DNSCrypt.eu NL" server="176.56.237.171" ipv6="2a00:d880:3:1::a6c1:2e89" parental="" ports="443" protos="udp,tcp" fqdn="2.dnscrypt-cert.dnscrypt.eu" key="67C0:0F2C:21C5:5481:45DD:7CB4:6A27:1AF2:EB96:9931:40A3:09B6:2B8D:1653:1185:9C66" />
			<add name="Soltysiak.com PL" server="178.216.201.222" ipv6="2001:470:70:4ff::2" parental="" ports="2053" protos="udp,tcp" fqdn="2.dnscrypt-cert.soltysiak.com" key="25C4:E188:2915:4697:8F9C:2BBD:B6A7:AFA4:01ED:A051:0508:5D53:03E7:1928:C066:8F21" />
		</providers>
	</DNSCryptProviders>
 <userSettings>
  <dnscrypt_winclient.Properties.Settings>
   <setting name="custom_server" serializeAs="String">
    <value />
   </setting>
   <setting name="custom_port" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="custom_fqdn" serializeAs="String">
    <value />
   </setting>
   <setting name="custom_key" serializeAs="String">
    <value />
   </setting>
   <setting name="custom_enabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="custom_proto" serializeAs="String">
    <value />
   </setting>
   <setting name="custom_ipv4" serializeAs="String">
    <value>True</value>
   </setting>
  </dnscrypt_winclient.Properties.Settings>
 </userSettings>
</configuration>
